* {
    margin: 0;
    padding: 0;
}

.container {
    background-color:rgb(162, 56, 56);
    display:flex;
    flex-direction:column;
    gap:10px;
    padding: 30px;
    margin: 40px 50px;
    border-radius: 5px;
    width: 70vh;
}

.box1, .box2 {
    background-color: rgb(252, 241, 241);
    padding: 10px;
}